body{
    background-image:url('/IMG/fondo.jpg') ;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    color: orange;
}

#navbar{
text-align: right;
}

img{
    
    width: 200px;
}

table{
    border-collapse: collapse;
    width: 100%;
    background-color: orange;
    margin-top: 10%;
}

th,tr{
    border: 1px solid black;
    padding: 8px;
    text-align: center;

}
