body{
    background-image:url('/IMG/fondo.jpg') ;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    color: orange;
}

#navbar{
text-align: right;
}

img{
    
    width: 200px;
}
